APP_URL=http://localhost:3000
RESEND_FROM="DeLoad Fit <noreply@deloadfit.app>"
RESEND_API_KEY=
ALL_ACCOUNT_CREATE_APPROVAL_ADM=false
CONFIRMED_AUTOMATICALLY_EMAIL=false
EMAIL_ADMIN=viniciusferrari.silva@gmail.com
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
BILLING_ALLOWED_ORIGINS=
